$very-light-grey: #eee;
$light-grey: #999;
$medium-grey: #666;
$dark-grey: #444;
$very-dark-grey: #222;

$dark-blue: rgb(25, 25, 101);
$dark-purple: rgb(91, 34, 90);

$small-font: .9em;
$medium-font: 1em;
$big-font: 1.3em;
$biggest-font: 2.4em;

%icon {
    border-radius: 50%;
}
