$very-light-grey: #eee;
$light-grey: #ccc;
$dark-grey: #333;
$very-dark-grey: #111;

$blue: rgba(12, 12, 66);
$transparent-blue: rgb(12, 12, 66, 0.5);
$dark-blue: rgb(1, 1, 15, 0.8);
$purple: rgb(78, 1, 105);
$transparent-purple: rgb(78, 1, 105, 0.7);
$teal: rgb(10, 68, 111);
$transparent-teal: rgb(10, 68, 111, 0.5);

$tiny-font: .7em;
$small-font: .9em;
$medium-font: 1em;
$big-font: 1.3em;
$biggest-font: 2.4em;

%icon {
    border-radius: 50%;
    text-align: center;
}
