$very-light-grey: #eee;
$light-grey: #999;
$medium-grey: #666;
$dark-grey: #444;
$very-dark-grey: #222;

$dark-blue: rgb(25, 25, 101);
$transparent-blue: rgb(25, 25, 101, 0.5);
$dark-purple: rgb(91, 34, 90);
$dark-red: rgb(81, 17, 17); 
$transparent-red: rgb(81, 17, 17, 0.5); 

$tiny-font: .7em;
$small-font: .9em;
$medium-font: 1em;
$big-font: 1.3em;
$biggest-font: 2.4em;

%icon {
    border-radius: 50%;
    text-align: center;
}
