#container #top-bar div:first-child a, .inner-card .msg-container > div:last-child > div i, .big-icon, .medium-icon, .small-icon {
  border-radius: 50%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  color: #eee;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(25, 25, 101);
  color: transparent;
  padding: 0 0;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

#container {
  background-color: #444;
  color: transparent;
  padding: 2% 3%;
  border-radius: 2%/2%;
  width: 92%;
  height: 110%;
}
#container #top-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
#container #top-bar div:first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
#container #top-bar div:first-child a {
  height: 40px;
  width: 40px;
  background-color: #eee;
  color: transparent;
  padding: 5px 5px;
}
#container #top-bar div:first-child a img {
  width: 100%;
}
#container #nav {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 40px;
  height: 80%;
}
#container #nav > a:first-child {
  padding-top: 5vh;
}
#container #nav > a:last-child {
  padding-top: 15vh;
}
#container #nav div a {
  display: block;
  padding: 15% 0;
}
#container #content {
  float: right;
  width: calc(100% - 40px);
  background-color: transparent;
  color: transparent;
  padding: 20px 20px;
  padding-right: 0;
}

#hero-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

#main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
#main-content .outer-card:nth-child(odd) {
  background-color: #666;
  color: transparent;
  padding: 0 0;
  border-radius: 7%/10%;
  width: auto;
  height: 280px;
  min-width: 250px;
  flex: 1 0 25%;
}
#main-content .outer-card:nth-child(odd) .inner-card {
  background-color: #999;
  color: transparent;
  padding: 0 0;
  border-radius: 4%/10%;
  width: calc(100% - 20px);
  height: 200px;
}
#main-content .outer-card:nth-child(even) {
  background-color: #666;
  color: transparent;
  padding: 0 0;
  border-radius: 4%/10%;
  width: auto;
  height: 280px;
  min-width: 350px;
  flex: 1 0 55%;
}
#main-content .outer-card:nth-child(even) .inner-card {
  background-color: #999;
  color: transparent;
  padding: 0 0;
  border-radius: 3%/10%;
  width: calc(100% - 20px);
  height: 200px;
}
#main-content .outer-card {
  position: relative;
}
#main-content .outer-card .header {
  background-color: transparent;
  color: transparent;
  padding: 15px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}

.inner-card {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.inner-card .msg-container {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.inner-card .msg-container div {
  background-color: rgb(25, 25, 101);
  color: #eee;
  padding: 2% 3%;
  border-radius: 4%/25%;
  width: 85%;
  height: auto;
}
.inner-card .msg-container > div:last-child {
  background-color: #666;
  color: transparent;
  padding: 0 0;
  border-radius: 4%/25%;
  width: 100%;
  height: 20%;
  background: linear-gradient(90deg, rgb(25, 25, 101) 0%, rgb(91, 34, 90) 100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.inner-card .msg-container > div:last-child > div {
  background-color: transparent;
  width: auto;
}
.inner-card .msg-container > div:last-child > div i {
  font-size: 0.9em;
}
.inner-card .times {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  padding: 5px 15px;
  font-size: 0.7em;
}
.inner-card .schedule {
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 80%;
}
.inner-card .schedule .hour {
  border-left: 1px dashed #222;
  border-right: 1px dashed #222;
}
.inner-card .schedule .task {
  background-color: rgb(81, 17, 17);
  color: #eee;
  padding: 4px 6px;
  border-radius: 5%/8%;
  width: auto;
  height: auto;
  position: absolute;
  z-index: 2;
}
.inner-card .schedule .task .info {
  font-size: 0.7em;
}
.inner-card .schedule .task:nth-last-child(3) {
  top: 15%;
  left: 9%;
  width: 36%;
  box-shadow: 20px 0 rgba(81, 17, 17, 0.5);
}
.inner-card .schedule .task:nth-last-child(2) {
  top: 40%;
  left: 46%;
  background-color: rgb(25, 25, 101);
  box-shadow: 40px 0 rgba(25, 25, 101, 0.5);
}
.inner-card .schedule .task:last-child {
  top: 65%;
  left: 62%;
  box-shadow: 24px 0 rgba(81, 17, 17, 0.5);
}
.inner-card .to-do {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding: 2%;
}
.inner-card .to-do div {
  background-color: rgb(25, 25, 101);
  color: transparent;
  padding: 2% 5%;
  border-radius: 5%/17%;
  width: 100%;
  height: 30%;
}
.inner-card .to-do div:nth-child(even) {
  background-color: rgb(81, 17, 17);
}
.inner-card .to-do hr {
  margin: 2% 0;
}
.inner-card .chart {
  width: 96%;
  height: 87%;
  position: relative;
  font-size: 0.9em;
}
.inner-card .chart h3 {
  text-align: center;
  padding: 2%;
  font-size: 1em;
}
.inner-card .chart .axis-y {
  list-style-type: none;
  position: absolute;
  left: 2.4em;
  bottom: -2.8em;
  width: 92%;
  height: 90%;
}
.inner-card .chart .axis-y li {
  height: 25%;
  border-top: 1px solid #222;
}
.inner-card .chart [data-y]:before {
  content: attr(data-y);
  position: relative;
  left: -1.5em;
  top: -0.7em;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.9em;
}

.big-icon {
  font-size: 1em;
  background-color: #eee;
  color: #222;
  padding: 10px 10px;
  width: 36px;
}

.medium-icon {
  font-size: 1em;
  background-color: #eee;
  color: #222;
  padding: 8px 8px;
  width: 32px;
}

.small-icon {
  font-size: 0.9em;
  background-color: #eee;
  color: #222;
  padding: 7px 7px;
  width: 28px;
}/*# sourceMappingURL=style.css.map */