@use "base";

@mixin colors-spacing($bg-color: transparent, $font-color: transparent, $pad-vert: 0, $pad-horiz: 0) {
    background-color: $bg-color;
    color: $font-color;
    padding: $pad-vert $pad-horiz;
}
@mixin flexbox($flow: row nowrap, $justify: flex-start, $align: flex-start, $gap: 0) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin card($border-1: 3%, $border-2: 3%, $width: auto, $height: auto) {
    border-radius: #{$border-1} / #{$border-2};
    width: $width;
    height: $height;
}
@mixin pill($border, $pad-vert, $pad-horiz, $bg-color) {
    border-radius: #{$border} / 50%;
    height: 20%;
    padding: $pad-vert $pad-horiz;
    background-color: $bg-color;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
    color: base.$very-light-grey;
}
html, body {
    height: 100%;
    width: 100%;
    @include colors-spacing(base.$dark-blue);
    background-image: url("../images/night.jpg");
    background-size: cover;
}
body {
    display: flex;
    justify-content: center;
    padding: 3% 0;
}

#container {
    @include colors-spacing(base.$dark-blue, $pad-vert: 2%, $pad-horiz: 2%);
    @include card(1.7%, 3%, 92%, max-content);

    #top-bar {
        @include flexbox(row wrap, space-between, center);
    
        div:first-child {
            @include flexbox($align: center, $gap: 20px);

            a {
                height: 40px;
                width: 40px;
                @include colors-spacing(base.$very-light-grey, $pad-vert: 5px, $pad-horiz: 5px);
                @extend %icon;

                img {
                    width: 100%;
                }
            }
        }
        div.dark-mode {
            @include pill(25%, 6px, 7px, base.$dark-grey);
        }
        div:last-child {
            padding-left: 8%;
        }
    }
    #nav {
        position: fixed;
        @include flexbox(column wrap, space-between, center);
        width: 40px;
        height: 80%;

        > a:first-child {
            padding-top: 5vh;
        }
        > a:last-child {
            padding-top: 15vh;
        }
        div {
            
            a {
                display: block;
                padding: 15% 0;
            }
        }
    }
    #content {
        float: right;
        width: calc(100% - 40px);
        @include colors-spacing($pad-vert: 20px, $pad-horiz: 20px);
        padding-right: 0;
    }
}

#hero-row {
    @include flexbox(row wrap, space-between, center, 20px);

    > div:last-child h3 {
        @include pill(20%, 12px, 18px, base.$very-light-grey);
        color: base.$very-dark-grey;
    }

    .big-num {
        font-size: base.$big-num;
    }
}

#main-content {
    @include flexbox(row wrap, space-between, $gap: 10px);
    padding-top: 4%;

    .outer-card:nth-child(odd) {
        @include colors-spacing(base.$transparent-purple);
        @include card(7%, 10%, $height: 280px);
        min-width: 250px;
        flex: 1 0 25%;

        .inner-card {
            @include colors-spacing(base.$light-grey);
            @include card(4%, 10%, calc(100% - 20px), 200px);
        }
    }
    .outer-card:nth-child(even) {
        @include colors-spacing(base.$transparent-purple);
        @include card(4%, 10%, $height: 280px);
        min-width: 390px;
        flex: 1 0 55%;

        .inner-card {
            @include colors-spacing(base.$light-grey);
            @include card(2.5%, 10%, calc(100% - 20px), 200px);
        }
    }
    .outer-card {
        position: relative;

        .header {
            @include colors-spacing($pad-vert: 15px, $pad-horiz: 20px);
            @include flexbox(row wrap, space-between, flex-start);
        }
    }
}

.inner-card {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .msg-container {
        padding: 10px;
        height: 100%;
        @include flexbox(column wrap, space-between);

        div {
            @include colors-spacing(base.$blue, base.$very-light-grey, 2%, 5px);
            @include card(4%, 25%, 85%);
        }
        > div:last-child {
            @include card(3%, 30%, 100%, 20%);
            background: linear-gradient(90deg, base.$blue 0%, base.$purple 100%);
            @include flexbox(row wrap, space-between, center);
            padding: 0 5px;

            > div {
                background-color: transparent;
                width: auto;

                i {            
                    font-size: base.$small-font;
                    @extend %icon;
                }
            }
        }
    }

    .times {
        @include flexbox(row nowrap, space-between);
        padding: 5px 15px;
        font-size: base.$tiny-font;

        p {
            color: base.$very-dark-grey;
        }
    }
    .schedule {
        padding: 0 25px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        height: 80%;
    
        .hour {
            border-left: 1px dashed base.$very-dark-grey;
            border-right: 1px dashed base.$very-dark-grey;
        }

        .task {
            @include colors-spacing(base.$teal, base.$very-light-grey, 4px, 6px);
            position: absolute;
            z-index: 2;
    
            .info {
                font-size: base.$tiny-font;
            }
        }
        .task:nth-last-child(3) {
            @include card(2%, 12%);
            top: 15%;
            left: 9%;
            width: 36%;
            box-shadow: 20px 0 base.$transparent-teal;
        }
        .task:nth-last-child(2) {
            @include card(5%, 8%);
            top: 40%;
            left: 46%;
            background-color: base.$blue;
            box-shadow: 40px 0 base.$transparent-blue;
        }
        .task:last-child {
            @include card(5%, 10%);
            top: 65%;
            left: 62%;
            box-shadow: 24px 0 base.$transparent-teal;
        }
    }

    .to-do {
        @include flexbox(column nowrap, $gap: 5px);
        padding: 2%;
    
        div {
            @include colors-spacing(base.$blue, $pad-vert: 2%, $pad-horiz: 5%);
            @include card(3%, 14%, 100%, 30%);
        }
        div:nth-child(even) {
            background-color: base.$teal;
        }
        hr {
            margin: 2% 0;
        }
    }

    .chart {
        width: 101%;
        height: 87%;
        position: relative;
        font-size: base.$small-font;
        
        h3 {
            text-align: center;
            padding: 2%;
            font-size: base.$medium-font;
            color: base.$very-dark-grey;
        }
        [class^="axis-"] {
            list-style-type: none;
            position: absolute;
            left: 2.4em;
            bottom: -2.8em;
            width: 92%;
            height: 90%;
        }
        .axis-y li {
            height: 25%;
            border-top: 1px solid base.$very-dark-grey;
        }
        [data-y]::before {
            content: attr(data-y);
            position: relative;
            left: -1.5em;
            top: -.7em;
            color: base.$very-dark-grey;
        } 
        .axis-x {
            @include flexbox(row nowrap, space-between);
            height: 2.6em;
        }
        .axis-x li {
            width: 6.5%;
            text-align: center;
            color: base.$very-dark-grey;
        }
        .bars {
            @include flexbox(row nowrap, space-around, flex-end);
            position: absolute;
            bottom: -.1em;
            left: 2.4em;
            width: 92%;
            height: 100%;
        
            .data {
                @include card(2%, 1%, 5%, var(--tooltip-height));
                background-color: base.$blue;
            }
            .data:nth-child(even) {
                background-color: base.$purple
            }
        }
    }
}

.outer-card:nth-last-child(2) .inner-card {
    overflow-y: scroll;
}

h1 {
    font-size: base.$biggest-font;
}
h2 {
    font-size: base.$big-font;
}
h3 {
    font-size: base.$medium-font;
}
p {
    font-size: base.$small-font;
}

.big-icon {
    font-size: base.$medium-font;
    @extend %icon;
    @include colors-spacing(base.$very-light-grey, base.$very-dark-grey, 10px, 10px);
    width: 36px;
}
.medium-icon {
    font-size: base.$medium-font;
    @extend %icon;
    @include colors-spacing(base.$very-light-grey, base.$very-dark-grey, 8px, 8px);
    width: 32px;
}
.small-icon {
    font-size: base.$small-font;
    @extend %icon;
    @include colors-spacing(base.$very-light-grey, base.$very-dark-grey, 7px, 7px);
    width: 28px;
}
.dark {
    background-color: base.$dark-grey;
    color: base.$very-light-grey;
}

@media screen and (max-width: 1200px) {
    #container {
        border-radius: 2%/3%;
    }

    #main-content {
        .outer-card:nth-child(odd) {
            border-radius: 7%/8%;
            .inner-card {
                border-radius: 5%/7%;
            }
        }
        .outer-card:nth-child(even) {
            border-radius: 4%/8%;
            .inner-card {
                border-radius: 3%/8%;
            }
        }
    }
  
    .inner-card {
        .msg-container {
            div {
                border-radius: 4%/12%;
            }
            div:last-child {
                border-radius: 2.5%/20%;
            }
        }
        .schedule {
            .task:nth-last-child(3) {
                border-radius: 2%/8%;
            }
            .task:nth-last-child(2) {
                border-radius: 4%/8%;
            }
            .task:last-child {
                border-radius: 3%/9%;
            }
        }
        .to-do div {
            border-radius: 3.5%/12%;
        }
        .chart {
            width: 99%;
        }
    } 
}

@media screen and (max-width: 960px) {
    #container {
        border-radius: 2%/2%;
        #hero-row > div:first-child {
            width: 100%;
        }
    }
    .inner-card .chart {
        width: 96%;
    }
}

@media screen and (max-width: 806px) {
    #container {
        border-radius: 2%/1%;
    }

    #main-content {
        .outer-card:nth-child(odd) {
            border-radius: 4%/8%;
            .inner-card {
                border-radius: 3%/7%;
            }
        }
        .outer-card:nth-child(even) {
            border-radius: 4%/8%;
            .inner-card {
                border-radius: 3%/7%;
            }
        }
    }
  
    .inner-card {
        .msg-container {
            div {
                border-radius: 2%/20%;
            }
            div:last-child {
                border-radius: 1.5%/20%;
                height: max-content;
            }
        }
        .to-do div {
            border-radius: 2%/10%;
        }
        .chart {
            width: 99%;
        }
    } 
}

@media screen and (max-width: 600px) {
    #container {
        border-radius: 2%/.7%;

        #content {
            width: 100%;
            padding: 20px 5px;
        }

        #nav {
            position: initial;
            flex-flow: row nowrap;
            width: 100%;
            padding: 3vh 5px 0 5px;

            > a:last-child {
                padding-top: 0;
            }
            > a:first-child {
                padding-top: 0;
            }
            div a {
                display: inline;
            }
        }
    }

    #main-content {
        .outer-card:nth-child(odd) {
            border-radius: 4%/7%;
            .inner-card {
                border-radius: 3%/7%;
            }
        }
        .outer-card:nth-child(even) {
            min-width: 200px;
            border-radius: 4%/7%;
            .inner-card {
                border-radius: 3%/7%;
            }
        }
    }
  
    .inner-card {
        .msg-container {
            div {
                border-radius: 2%/14%;
            }
            div:last-child {
                border-radius: 1.5%/20%;
                height: max-content;
            }
        }
        .schedule {
            .task:nth-last-child(3) {
                left: 11.5%;
                width: 33%;
            }
            .task:last-child {
                width: 31%;
            }
        }
        .to-do div {
            border-radius: 2%/10%;
        }
        .chart {
            width: 96%;
            h3 {
                width: 104%;
            }
        }
    } 
}

@media screen and (max-width: 420px) {
    #container {
        border-radius: 2%/.45%;
        #top-bar div:last-child {
            padding-left: 0;
        }
    }

    #main-content {
        .outer-card:nth-child(odd) {
            border-radius: 3.5%/5%;
            .inner-card {
                border-radius: 2.5%/4.5%;
            }
        }
        .outer-card:nth-child(even) {
            min-width: 200px;
            border-radius: 3.5%/5%;
            .inner-card {
                border-radius: 2.5%/4.5%;
            }
        }
    }
  
    .inner-card {
        .msg-container {
            div {
                border-radius: 2.5%/13%;
            }
            div:last-child {
                border-radius: 1.7%/14%;
                height: max-content;
            }
        }
        .schedule {
            .task:nth-last-child(3) {
                border-radius: 3%/6%;
                top: 10%;
                left: 13%;
                width: 30%;
            }
            .task:nth-last-child(2) {
                top: 41.5%;
                left: 43%;
            }
            .task:last-child {
                border-radius: 3.5%/6%;
                width: 30%;
            }
        }
        .to-do div {
            border-radius: 2%/8%;
        }
        .chart {
            width: 93%;
            h3 {
                width: 107%;
            }
        }
    } 
}
