@use "base";

@mixin colors-spacing($bg-color: transparent, $font-color: transparent, $pad-vert: 0, $pad-horiz: 0) {
    background-color: $bg-color;
    color: $font-color;
    padding: $pad-vert $pad-horiz;
}
@mixin flexbox($flow: row nowrap, $justify: flex-start, $align: flex-start, $gap: 0) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin card($border-1: 3%, $border-2: 3%, $width: auto, $height: auto) {
    border-radius: #{$border-1} / #{$border-2};
    width: $width;
    height: $height;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
    color: base.$very-light-grey;
}
html, body {
    height: 100%;
    width: 100%;
    @include colors-spacing(base.$dark-blue)
}
body {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

#container {
    @include colors-spacing(base.$dark-grey, $pad-vert: 2%, $pad-horiz: 3%);
    @include card(2%, 2%, 92%, 110%);

    #top-bar {
        @include flexbox(row wrap, space-between, center);
    
        div:first-child {
            @include flexbox($align: center, $gap: 20px);

            a {
                height: 40px;
                width: 40px;
                @include colors-spacing(base.$very-light-grey, $pad-vert: 5px, $pad-horiz: 5px);
                @extend %icon;

                img {
                    width: 100%;
                }
            }
        }
    }
    #nav {
        position: fixed;
        @include flexbox(column wrap, space-between, center);
        width: 40px;
        height: 80%;

        > a:first-child {
            padding-top: 5vh;
        }
        > a:last-child {
            padding-top: 15vh;
        }
        div {
            
            a {
                display: block;
                padding: 15% 0;
            }
        }
    }
    #content {
        float: right;
        width: calc(100% - 40px);
        @include colors-spacing($pad-vert: 20px, $pad-horiz: 20px);
        padding-right: 0;
    }
}

#hero-row {
    @include flexbox(row wrap, space-between, center);
}

#main-content {
    @include flexbox(row wrap, space-between, $gap: 10px);

    .outer-card:nth-child(odd) {
        @include colors-spacing(base.$medium-grey);
        @include card(7%, 10%, $height: 280px);
        min-width: 250px;
        flex: 1 0 25%;

        .inner-card {
            @include colors-spacing(base.$light-grey);
            @include card(4%, 10%, calc(100% - 20px), 200px);
        }
    }
    .outer-card:nth-child(even) {
        @include colors-spacing(base.$medium-grey);
        @include card(4%, 10%, $height: 280px);
        min-width: 350px;
        flex: 1 0 55%;

        .inner-card {
            @include colors-spacing(base.$light-grey);
            @include card(3%, 10%, calc(100% - 20px), 200px);
        }
    }
    .outer-card {
        position: relative;

        .header {
            @include colors-spacing($pad-vert: 15px, $pad-horiz: 20px);
            @include flexbox(row wrap, space-between, flex-start);
        }
    }
}

.inner-card {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .msg-container {
        padding: 10px;
        height: 100%;
        @include flexbox(column wrap, space-between);

        div {
            @include colors-spacing(base.$dark-blue, base.$very-light-grey, 2%, 3%);
            @include card(4%, 25%, 85%);
        }
        > div:last-child {
            @include colors-spacing(base.$medium-grey);
            @include card(4%, 25%, 100%, 20%);
            background: linear-gradient(90deg, base.$dark-blue 0%, base.$dark-purple 100%);
            @include flexbox(row wrap, space-between, center);

            > div {
                background-color: transparent;
                width: auto;

                i {            
                    font-size: base.$small-font;
                    @extend %icon;
                }
            }
        }
    }

    .times {
        @include flexbox(row nowrap, space-between);
        padding: 5px 15px;
        font-size: base.$tiny-font;
    }
    .schedule {
        padding: 0 25px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        height: 80%;
    
        .hour {
            border-left: 1px dashed base.$very-dark-grey;
            border-right: 1px dashed base.$very-dark-grey;
        }

        .task {
            @include colors-spacing(base.$dark-red, base.$very-light-grey, 4px, 6px);
            @include card(5%, 8%);
            position: absolute;
            z-index: 2;
    
            .info {
                font-size: base.$tiny-font;
            }
        }
        .task:nth-last-child(3) {
            top: 15%;
            left: 9%;
            width: 36%;
            box-shadow: 20px 0 base.$transparent-red;
        }
        .task:nth-last-child(2) {
            top: 40%;
            left: 46%;
            background-color: base.$dark-blue;
            box-shadow: 40px 0 base.$transparent-blue;
        }
        .task:last-child {
            top: 65%;
            left: 62%;
            box-shadow: 24px 0 base.$transparent-red;
        }
    }

    .to-do {
        @include flexbox(column nowrap, $gap: 5px);
        padding: 2%;
    
        div {
            @include colors-spacing(base.$dark-blue, $pad-vert: 2%, $pad-horiz: 5%);
            @include card(5%, 17%, 100%, 30%);
        }
        div:nth-child(even) {
            background-color: base.$dark-red;
        }
        hr {
            margin: 2% 0;
        }
    }
}

h1 {
    font-size: base.$biggest-font;
}
h2 {
    font-size: base.$big-font;
}
h3 {
    font-size: base.$medium-font;
}
p {
    font-size: base.$small-font;
}

.big-icon {
    font-size: base.$medium-font;
    @extend %icon;
    @include colors-spacing(base.$very-light-grey, base.$very-dark-grey, 10px, 10px);
    width: 36px;
}
.medium-icon {
    font-size: base.$medium-font;
    @extend %icon;
    @include colors-spacing(base.$very-light-grey, base.$very-dark-grey, 8px, 8px);
    width: 32px;
}
.small-icon {
    font-size: base.$small-font;
    @extend %icon;
    @include colors-spacing(base.$very-light-grey, base.$very-dark-grey, 7px, 7px);
    width: 28px;
}
